.container-donors {
  margin: 30px auto 0;
  @media (min-width: 576px) {
    width: 600px !important;
    margin: 50px auto 0;
  }
  @media (min-width: 1200px) {
    width: 864px !important;
    margin: 121px auto 0;
  }
  .donors-title {
    margin-bottom: 30px;
    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }
    h1 {
      font-family: "K2D";
      font-style: normal;

      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      color: #ffffff;
      @media (min-width: 576px) {
        font-size: 30px;
        line-height: 50px;
      }
      @media (min-width: 1200px) {
        font-weight: 800;
        font-size: 45px;
        line-height: 80px;
      }
    }
  }
  h3 {
    font-family: "K2D";
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #f5a623;
    @media (min-width: 576px) {
      font-size: 25px;
      line-height: 30px;
    }
    @media (min-width: 1200px) {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
  }
  img {
    margin-top: 30px;

    object-fit: contain;
    @media (min-width: 576px) {
      margin-top: 40px;
      width: 80px;
      height: 80px;
    }
    @media (min-width: 1200px) {
      width: initial;
      height: initial;
      margin-top: 60px;
      object-fit: cover;
    }
  }
  .diamond-donor,
  .gold-donor,
  .co-donor {
    margin-bottom: 30px;
    @media (min-width: 576px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  .gold-donor {
    .container-category__gold-donors {
      display: none;
    }
    .container-category__gold-donors--mobile {
      .container-fluid {
        display: flex;
        justify-content: center;
      }
    }
    @media (min-width: 1200px) {
      .container-category__gold-donors {
        display: flex;
      }
      .container-category__gold-donors--mobile {
        display: none;
      }
    }
  }
  // .co-donor {
  //   .container-category__co-donors {
  //     display: flex;
  //     justify-content: space-evenly;
  //   }
  // }
  .diamond-donor {
    text-align: center !important;
  }
}
